<mat-toolbar color="primary">
  <span id="title">Cocktail Collector</span>

  <span class="spacer"></span>

  <div class="navigation">
    <span>
      <p>Cabinet</p>
    </span>
    <span>
      <p>Bar Book</p>
    </span>
    <span>
      <p>Drink Deck</p>
    </span>
    <span><button mat-button [matMenuTriggerFor]="menu"><i class="ph-user"></i></button></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>User Name</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
  </div>
</mat-toolbar>
