<div class="search-header">
  <img src="../../../assets/images/bar-bw.jpg">
  <h1 id="main-heading">
    Mix,
    <br> Measure,
    <br> and Master your home bar.
  </h1>

  <mat-form-field class="search-bar">
    <mat-label>Search for any recipe</mat-label>
    <input matInput type="text">
    <button matSuffix mat-icon-button aria-label="Search"><mat-icon>arrow_circle_down</mat-icon></button>
  </mat-form-field>
</div>

<h2>Popular</h2>

<div class="drink-carousel">
  <div class="popular-drinks--cards">
    <button mat-button (click)="previous()" class="carousel-button">
      <mat-icon class="left-arrow">arrow_circle_down</mat-icon>
    </button>

    <div class="data-list show-in-row">
      <mat-card class="drink-card" *ngFor="let drink of displayedDrinks; let index = index; let last = last">
        <img mat-card-image src={{drink.strDrinkThumb}} alt="Drink Image">
        <mat-card-actions>
          {{drink.strDrink}}
          <button mat-button class="drink-card--button">
            <mat-icon>arrow_circle_down</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <button mat-button (click)="next()" class="carousel-button">
      <mat-icon>arrow_circle_down</mat-icon>
    </button>
  </div>
</div>