@import "../../../colors.scss";
.search-header {
  width: 100%;
  background-color: black;
  height: 30rem;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-heading {
  position: absolute;
  color: $white;
  line-height: 125%;
  top: 0px;
  margin-top: 1rem;
  left: 1rem;
  // Give some text outline to help clarity on black and white image.
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black;
}

.search-bar {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}

/* Popular Drinks Section */

h2 {
  padding: 20px;
}

.popular-drinks {
  display: grid;
  grid-template-columns: 2.5% 95% auto;
  height: 250px;
}

.carousel-button {
  font-size: 15px !important;
  min-width: unset !important;
  min-height: unset !important;
}

.drink-card--button {
  font-size: 10px !important;
  min-width: unset !important;
  min-height: unset !important;
  padding: 0 !important;
}

.drink-tags {
  font-size: 8pt !important;
}

.drink-card {
  width: 20%;
}

.mat-icon {
  transform: rotate(-90deg);
}

.popular-drinks--cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1px;
  align-items: center;
}

.data-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.data-list .data-container {
  min-width: 100px;
}

.left-arrow {
  transform: rotate(90deg) !important;
}

.mdc-card__actions {
  height: 80px;
  justify-content: space-between;
  background-color: #d6dad7;
}
