<!--TODO: Update background image to differ from home.-->
<div class="header">
    <img src="../../../assets/images/bar-bw.jpg">
</div>

<div class="body">
    <h1>Drink Deck</h1>
    <h3>Dive into the Drink Deck to find new recipes to add to your Bar Book. Elevate your home bar game and impress your friends with your cocktail creativity! </h3>

    <!--TODO: Card deck/carousel of all recipes in the API. 
    Should have back/forward arrows, and ability to like (add to bar book) or dislike (stop recommending). 
    For mobile, tinder-like swiping. -->

    <h1>Search</h1>
    <h3>Have something specific in mind? Search for a drink! </h3>

    <mat-form-field class="search-bar">
        <mat-label>Search for any recipe</mat-label>
        <input matInput type="text">
        <button matSuffix mat-icon-button aria-label="Search"><mat-icon>arrow_circle_down</mat-icon></button>
    </mat-form-field>

    <!--TODO: Add filtering and have cards populate with recipes from API.-->
</div>