$black: #000000;
$white: #ffffff;
$custom-primary: #77857a;
$custom-accent: #133c55;
$custom-warn: #d8523e;

$custom-primary: (
  50: #eff0ef,
  100: #d6dad7,
  200: #bbc2bd,
  300: #a0aaa2,
  400: #8b978e,
  500: #77857a,
  600: #6f7d72,
  700: #647267,
  800: #5a685d,
  900: #47554a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$custom-accent: (
  50: #e3e8eb,
  100: #b8c5cc,
  200: #899eaa,
  300: #5a7788,
  400: #36596f,
  500: #133c55,
  600: #11364e,
  700: #0e2e44,
  800: #0b273b,
  900: #061a2a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$custom-alert: (
  50: #faeae8,
  100: #f3cbc5,
  200: #eca99f,
  300: #e48678,
  400: #de6c5b,
  500: #d8523e,
  600: #d44b38,
  700: #ce4130,
  800: #c83828,
  900: #bf281b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
