@import url("https://fonts.cdnfonts.com/css/cooper-hewitt");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Cooper Hewitt", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    font-size: 3rem;
}


/* Standard Search Bar */

.search-bar {
    width: 75%;
    & .mat-icon {
        transform: rotate(-90deg);
    }
}