@use "@angular/material" as mat;
@import "@angular/material/theming";

@include mat.core();

@import "./colors";

$app-primary: mat-palette($custom-primary);
$app-accent: mat-palette($custom-accent);
$app-warn: mat-palette($custom-alert);

$brand-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($brand-light-theme);
